<div class=" ui-g-12 titleMain" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="ui-g-12 ui-md-10 ui-lg-10">
      <h5>{{title}}</h5>
    </div>
    <div class="ui-g-12 ui-md-1 ui-lg-2">
      <button pButton type="button" label="Down styles" icon="fa-css3" class="ui-button-info btn-css"></button>
    </div>
  </div>
</div>

<!--body seccion-->

<div class="ui-g-12">

  <div class="container">
  <h5>Typografhy</h5>

  <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h1>Title h1</h1>
        <h2>Title h2</h2>
        <h3>Title h3</h3>
        <h4>Title h4</h4>
        <h5 class="color-normal">Title h5</h5>
        <h6>Title h6</h6>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <br>
        <p class="parrafo-app"><strong>Parrafo </strong>Lorem Ipsum es simplemente el texto de relleno de las imprentas y
          archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar
          de las industrias desde el año 1500, cuando un impresor (N. del T.
          persona que se dedica a la imprenta) desconocido usó una galería de
          textos y los mezcló de tal manera que logró hacer un libro de textos
          especimen.</p>
        <p class="codigo">
          <strong>font-family: 'Roboto', sans-serif;</strong>
          <br>font-size: 85%!important;
        </p>
      </div>
  </div>
    <hr>
  <h5>Color Palette</h5>
  <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="color-header-app"></div>
        <br>
        <p>Color header and footer</p>
        <h4>#212529</h4>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="color-title-app"></div>
        <br>
        <p>Color Title Module</p>
        <h4>#ebedf0</h4>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="color-primary"></div>
        <br>
        <p>Color Primary</p>
        <h4>#2399e5</h4>
      </div>
  </div>

  </div>
</div>
