<div class=" ui-g-12 titleMain" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="ui-g-12 ui-md-10 ui-lg-10">
      <h5>{{title}}</h5>
    </div>
    <div class="ui-g-12 ui-md-1 ui-lg-2">
      <button pButton type="button" label="Down styles" icon="fa-css3" class="ui-button-info btn-css"></button>
    </div>
  </div>
</div>

<!--PANEL-->
<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>Panel</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>
        <p>The most used attributes:</p>
        <p-panel header="Title" [toggleable]="true">
          <ul>
            <li>Filters</li>
            <li>Forms</li>
          </ul>
        </p-panel>

      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>

          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!--TABVIEW-->
<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>TabView</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>
        <p>The most used attributes:</p>

      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Disabled Example" disabled="true">
        Content 3
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 4
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!--GRID-->
<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>GRID</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>
        <p>The most used attributes:</p>

        <h3>Responsive</h3>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-3 grid">ui-g-12 ui-md-6 ui-lg-3</div>
          <div class="ui-g-12 ui-md-6 ui-lg-3 grid">ui-g-12 ui-md-6 ui-lg-3</div>
          <div class="ui-g-12 ui-md-6 ui-lg-3 grid">ui-g-12 ui-md-6 ui-lg-3</div>
          <div class="ui-g-12 ui-md-6 ui-lg-3 grid">ui-g-12 ui-md-6 ui-lg-3</div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-4 grid">ui-g-12 ui-md-6 ui-lg-4</div>
          <div class="ui-g-12 ui-md-6 ui-lg-4 grid">ui-g-12 ui-md-6 ui-lg-4</div>
          <div class="ui-g-12 ui-lg-4 grid">ui-g-12 ui-lg-4</div>
        </div>

      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>

          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
