<div class=" ui-g-12 titleMain" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="ui-g-12 ui-md-10 ui-lg-10">
      <h5>{{title}}</h5>
    </div>
    <div class="ui-g-12 ui-md-1 ui-lg-2">
      <button pButton type="button" label="Down styles" icon="fa-css3" class="ui-button-info btn-css"></button>
    </div>
  </div>
</div>

<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>Inputs</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>
        <p>The most used inputs:</p>
        <div class="ui-g-12 ui-md-6  ui-lg-3">
          <label for="calendar">Creation Date:</label>
          <p-calendar id="calendar" [showIcon]="true" placeholder="Select Date..." dateFormat="dd M yy" ></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <label for="autocomplete">Search by CPI:</label>
          <p-autoComplete id="autocomplete" [dropdown]="true"  placeholder="Search by ..."></p-autoComplete>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <label for="dropdown">Country:</label>
          <p-dropdown id="dropdown" [options]="cities" placeholder="Select one ..." autoWidth="true" optionLabel="name"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <label for="inputText">Vendor Name:</label>
          <input id="inputText" placeholder="Enter vendor name..." type="text" size="30" pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <label for="inputTextDisabled">Purchase Mode:</label>
          <input id="inputTextDisabled" type="text" disabled="true" value="DISABLED" size="30" pInputText>
        </div>

      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>

          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!--filter advanced-->


<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>Required fields</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>
        <p>Style of validation message:</p>

        <div id="filtersAdvanced" [@heroState]='state'>
          <div class="ui-g">

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="desCorp">Corp. Description :</label>
              <input name="desCorp" type="text" id="desCorp" pInputText placeholder="Enter description corp">
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="descLoc">Local Description :</label>
              <input name="desLocal" type="text" id="descLoc" pInputText placeholder="Enter description local">
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="marcaCorp">Corp. Brand :</label>
              <input name="marcaCorp" type="text" id="marcaCorp" pInputText placeholder="Enter corp brand" >
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="marcaLoc">Local Brand :</label>
              <input name="marcaLocal" type="text" id="marcaLoc" pInputText placeholder="Enter local brand" >
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="barCodeCorp">Corp. Barcode :</label>
              <input name="barCodeCorp" type="text" id="barCodeCorp" pInputText placeholder="Enter corp barcode">
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="barCodeLoc">Local Barcode :</label>
              <input name="barCodeLoc" type="text" id="barCodeLoc" pInputText placeholder="Enter loc barcode" >
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <label for="idCorp">Id Corp :</label>
              <input name="idProdCorp" type="number" id="idCorp" pInputText placeholder="Enter id corp" >
            </div>


          </div>
        </div>
        <div class="filterAdvanced">
          <a (click)="showFilters()">
            {{formulario ? 'Hide Filter Advanced' : 'Show Filter Advanced'}}
          </a>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>


<!-- input required-->

<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>Required fields</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>
        <p>Style of validation message:</p>

        <div class="ui-g-12 ui-md-3">
          <input type="text" pInputText placeholder="Username" class="ng-dirty ng-invalid">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!-- checkbox and radiobuttons-->
<div class="ui-g-12">
  <br>
  <div class="container">
    <h5>Selection input</h5>
    <p-tabView>
      <p-tabPanel header="Example">
        <br>

        <div class="ui-g-12 ui-md-3">
          <p>Multi Select:</p>
          <div class="ui-g">
            <p-checkbox name="group1" value="New York" label="1"  inputId="ny"></p-checkbox>
            <p-checkbox name="group1" value="San Francisco" label="2"  inputId="sf"></p-checkbox>
            <p-checkbox name="group1" value="Los Angeles" label="3"  inputId="la"></p-checkbox>
          </div>
          <br>
          <p>Single Selection:</p>
          <div class="ui-g">
            <p-radioButton name="group1" value="Option 1" label="1" inputId="opt1"></p-radioButton>
            <p-radioButton name="group1" value="Option 2" label="2" inputId="opt2"></p-radioButton>
            <p-radioButton name="group1" value="Option 3" label="3" inputId="opt3"></p-radioButton>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Source">
        <div class="ui-g">
          <h6 class="subTitle">HTML :</h6>
          <div class="ui-g-12 bgHtml">
            ....
          </div>
          <br>
          <br>
          <h6 class="subTitle">css :</h6>
          <div class="ui-g-12 bgHtml">
            <p><span>.ui-button-primary-icon</span> &#123;
              width: 20px!important;
              height: 20px!important;
              padding: 10px;
              text-align: center;
              font-size: .9em; &#125;</p>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Use Cases">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

